*mp3
*ogg
*wav

# python binaries
__pycache__/
*.pyc
*.pyo
*.egg-info

# python setuptools build dir
/build/

# python virtualenv
/env/

# IDE files, jupyter notebooks
/.vscode/
.ipynb_checkpoints/

# test framework
.tox/
.pytest_cache/
# pytest profiler output
/prof/