*mp3
*ogg
*wav
*_ids

# python binaries
__pycache__/
*.pyc
*.pyo
*.egg-info

# python setuptools build dir
/build/

# python virtualenv
/env/

# IDE files, jupyter notebooks
/.vscode/
.ipynb_checkpoints/

# test framework
.tox/
.pytest_cache/
# pytest profiler output
/prof/
other_setlists/*
timemachine/metadata_orig/*
docs/*
download_urls.py
input_selector.py
poti.py
timemachine/testradio.py
timemachine/testvinyl.py
cloud_server/*
